.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 97px;
    width: 100%;
    border-bottom: 1px solid #e4ebfa;
    padding: 0 33px;
}
.header-button-container {
    display: flex;
    align-items: center;
    height: 48px;
    width: 193px;
}

.header-button-container button {
    height: 100%;
    width: 164px;
    margin-right: 24px;
    background-color: #635FC7;
    color: #ffff;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

.header-button-container .elipsis {
    cursor: pointer;
}