.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 300px;
	border-right: 1px solid #e4ebfa;
	padding-top: 33px;
	padding-left: 34px;
}

.logo {
	margin-bottom: 54px;
}
.hide-sidebar-button {
	margin-bottom: 32px;
}
